/******************************************************************
Site Name:
Author:

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/

// alerts and notices
%alert {
  margin: ds-space('sm');
  padding: ds-space('xs') ds-space('xl');
  border: 1px solid;
  border-radius: ds-radius('sm');
  color: ds-color('ink', 'strong');
}

.alert-help {
  @extend %alert;
  border-color: ds-color('warning', 'contrast');
  background: ds-color('warning', 'soft');
}

.alert-info {
  @extend %alert;
  border-color: ds-color('info', 'contrast');
  background: ds-color('info', 'soft');
  color: ds-color('info', 'contrast');
}

.alert-error {
  @extend %alert;
  border-color: ds-color('danger');
  background: ds-color('danger', 'soft');
}

.alert-success {
  @extend %alert;
  border-color: ds-color('success');
  background: ds-color('success', 'soft');
}
