/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1000px;
}

.pmarich-logo {
	width: 160px;
	top: 12px;
	left: 8px;
}

.page-template-home {
	.entry-content {
		max-width: 1160px;
		margin: 0 auto;
	}
	.secondary-content {
		article {
			padding: 0 4%;
			float: left;
		}
	}
}

/* // - - PORTFOLIO - - // */

.project {
	margin-bottom: 3.6em;
}
.gallery-icon {
	max-height: 340px;
}