/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1000px;
}



/* // - - PORTFOLIO - - // */

.project {
	margin-bottom: 3.6em;
}
.gallery-icon {
	max-height: 340px;
}